@media all {
    body {
        color: darkblue;
        font-weight: bold;
        background-color: lightgray;
        font-family: Arial, sans-serif;
        margin: 0;
    }

    .intro {
        background-color: lightblue;
        text-align: center;
        padding: 20px;
    }

    .intro h1 {
        font-family: Arial, Time New Roman;
        margin: 0;
    }

    ul.navbar {
        background-color: darkgray;
        display: flex;
        list-style-type: none;
        margin: 0;
    }
    
    ul.navbar li a {
        display: block;
        text-align: center;
        padding: 20px 20px;
        color: white;
        text-decoration: none;
    }
    
    ul.navbar li a:hover {
        background-color: black;
    }

    
    li.dropdown {
        position: relative;
    }

    .dropdown-content {
        position: absolute;
        
        top: 3.5em;
        left: 0;
        width: 12em;
        display: none;
        background-color: darkgrey;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    
    .dropdown-content li a {
        color: white;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
}

@media print {
    body {
        color: black;
        background-color: white;
        font-family: 'Times New Roman', serif;
    }